<script setup lang="ts">
import HelloWorld from './components/HelloWorld.vue'
// import ReloadPrompt from './components/ReloadPrompt.vue'
import { useRegisterSW } from 'virtual:pwa-register/vue'

const {
  needRefresh,
  updateServiceWorker,
} = useRegisterSW()
//
// async function close() {
//   needRefresh.value = false
// }
</script>

<template>
  <v-app>
    <v-app-bar>
      <template v-slot:prepend>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
      </template>
      <v-app-bar-title>PWA Custom SW Prompted Reload</v-app-bar-title>
      <v-btn :disabled="!needRefresh" @click="updateServiceWorker()" prepend-icon="mdi-cog-refresh">
        Update
      </v-btn>
    </v-app-bar>
    <v-main>
      <div>
        <a href="https://vitejs.dev" target="_blank">
          <img src="/vite.svg" class="logo" alt="Vite logo" />
        </a>
        <a href="https://vuejs.org/" target="_blank">
          <img src="./assets/vue.svg" class="logo vue" alt="Vue logo" />
        </a>
      </div>
      <HelloWorld msg="Vite + Vue" />
      <v-snackbar
          v-model="needRefresh"
      >
        <template v-slot:actions>
          <v-btn :disabled="!needRefresh" @click="updateServiceWorker()" prepend-icon="mdi-cog-refresh">
            Update
          </v-btn>
        </template>
      </v-snackbar>
    </v-main>
  </v-app>

</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
